* {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.labeling {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}

.labeling__title {
  font-size: 50px;
  margin-bottom: 60px;
}

.labeling__container {
  float: left;
  margin-right: 30px;
  width: 350px;
}

.labeling__photo {
  position: fixed;
  overflow-y: scroll;
}

.labeling__img {
  width: 350px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.labeling__img-url{
  width: 350px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgb(245, 245, 245);
  color: rgb(150, 150, 150);
}

.labeling__url {
  float: right;
  width: 270px;
  padding: 6px 12px;
  padding-right: 0;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgb(245, 245, 245);
  color: rgb(150, 150, 150);
}

.labeling__url:focus {
  outline: none;
  background-color: rgb(230, 230, 230);
}

.labeling__copy-url {
  padding: 6px 12px;
  background-color: rgb(100, 180, 80);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.labeling__copy-url:hover,
.labeling__copy-url:focus {
  background-color: rgb(120, 180, 100);
  outline: none;
  cursor: pointer;
}

.labeling__copy-url:active {
  background-color: rgb(140, 180, 120);
  outline: none;
}

.sets {
  float: left;
  width: 500px;
}

.sets__list,
.set__items {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sets__list {
  margin-bottom: 30px;
}

.set {
  display: block;
  padding: 20px;
  margin-bottom: 0;
  font-size: 0;
}

.set--focused {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}

.set__title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 26px;
  margin: 0;
  margin-bottom: 10px;
}

.set__item {
  margin: 0;
  margin-right: 3px;
  padding: 0;
  display: inline-block;
}

.set__label {
  display: block;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 4px;
  margin-right: 5px;
  background-color: none;
  cursor: pointer;
  padding: 5px 8px;
  padding-left: 0;
  font-size: 14px;
  text-transform: lowercase;
}

.set__label-num {
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  padding: 5px 8px;
}

.set--focused .set__label-num {
  background-color: rgb(235, 235, 235);
}

.set__input {
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.set__label:hover {
  background-color: rgb(240, 240, 240);
}

.set--focused .set__label:hover {
  background-color: rgb(235, 235, 235);
}

.set__label:hover .set__label-num,
.set__label:focus .set__label-num {
  background-color: rgb(230, 230, 230);
}

.set__input:checked + .set__label,
.set__input:focus + .set__label,
.set__label:active {
  background-color: rgb(255, 230, 230);
}

.set__input:checked + .set__label .set__label-num,
.set__input:focus + .set__label .set__label-num {
  background-color: rgb(255, 200, 200);
}

.set__submit {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding: 6px 12px;
  background-color: rgb(255, 100, 100);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.set__submit:hover,
.set__submit:focus {
  background-color: rgb(255, 115, 115);
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.15);
}

.set__submit:active {
  background-color: rgb(255, 140, 140);
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.3);
  outline: none;
}

.set__switch {
  float: right;
}

.set__switch-link {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(150, 150, 150);
  text-decoration: none;
}

.set__switch-link:hover,
.set__switch-link:focus {
  background-color: rgb(240, 240, 240);
  outline: none;
}

.set__switch-link:active {
  background-color: rgb(255, 230, 230);
}
